.SideNav {
    background-color: rgb(17, 17, 17);
    padding-top: 10px;
    height: 100vh;
    }


.SideNavItems{
font-weight: "800";
font-size: "20px"
}

.SideMenuItem{
font-weight: "800";
font-size: "20px"
}